<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YWImageCut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01E6C2DE1E151874001A87EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E6C2F71E151874001A87EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E6C3021E151874001A87EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
